<link rel="stylesheet" href="style.css">
<div class="home">
  <h1 class="header bg">Login</h1>
  <% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
  <div class="form bg">
    <form class="bg" action="/login" method="POST">
      <div class="bg">
        <label class="bold bg" for="email">User ID</label>
        <input class="user_id bg" type="email" id="email" name="email" required>
      </div>
      <div class="bg">
        <label class="bold bg" for="password">Access Code</label>
        <input class="bg" type="password" id="password" name="password" required>
      </div>
      <button class="log bg" type="submit">Access</button>
    </form>
  </div>
</div>